<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/1_Rename_Column_names_to_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
# importing the pandas library
import pandas as pd

In [1]:
# creating lists
l1 =["Amar", "Barsha", "Carlos", "Tanmay", "Misbah"]
l2 =["Alpha", "Bravo", "Charlie", "Tango", "Mike"]
l3 =[23, 25, 22, 27, 29]
l4 =[69, 54, 73, 70, 74]
  
# creating the DataFrame
team = pd.DataFrame(list(zip(l1, l2, l3, l4))) 
  
# displaying the DataFrame
print(team)

        0        1   2   3
0    Amar    Alpha  23  69
1  Barsha    Bravo  25  54
2  Carlos  Charlie  22  73
3  Tanmay    Tango  27  70
4  Misbah     Mike  29  74

- **Adding column name** to the DataFrame : We can add columns to an existing DataFrame using its **columns** attribute.

In [2]:
# adding column name to the respective columns
team.columns =['Name', 'Code', 'Age', 'Weight']
  
# displaying the DataFrame
print(team)

     Name     Code  Age  Weight
0    Amar    Alpha   23      69
1  Barsha    Bravo   25      54
2  Carlos  Charlie   22      73
3  Tanmay    Tango   27      70
4  Misbah     Mike   29      74

- **Renaming column name** of a DataFrame : We can rename the columns of a DataFrame by using the **rename()** function.

In [3]:
# reanming the DataFrame columns
team.rename(columns = {'Code':'Code-Name', 
                       'Weight':'Weight in kgs'}, 
            inplace = True)
  
# displaying the DataFrame
print(team)

     Name Code-Name  Age  Weight in kgs
0    Amar     Alpha   23             69
1  Barsha     Bravo   25             54
2  Carlos   Charlie   22             73
3  Tanmay     Tango   27             70
4  Misbah      Mike   29             74

-----------

In [5]:
df = pd.DataFrame([('Foreign Cinema', 'Restaurant', 289.0),
                   ('Liho Liho', 'Restaurant', 224.0),
                   ('500 Club', 'bar', 80.5),
                   ('The Square', 'bar', 25.30)],
           columns=('name', 'type', 'AvgBill')
                 )
df

             name        type  AvgBill
0  Foreign Cinema  Restaurant    289.0
1       Liho Liho  Restaurant    224.0
2        500 Club         bar     80.5
3      The Square         bar     25.3

#### **Method 1: Pandas Rename**

**pandas.DataFrame.rename(columns={"old_column_name" : "new_column_name"})**

- Change the column name **'AvgBill' to 'Bill'.**

- You need t0 tell pandas that you want to change your columns so you'll need to specify **axis=1 or columns=your_mapper**.

- I prefer setting **'columns='** because I **don't need to remember** if columns is **axis=1 or 0.**

![1.JPG]()

In [6]:
df.rename({'AvgBill' : 'Bill'}, axis=1)

             name        type   Bill
0  Foreign Cinema  Restaurant  289.0
1       Liho Liho  Restaurant  224.0
2        500 Club         bar   80.5
3      The Square         bar   25.3

In [7]:
df.rename(columns={'AvgBill' : 'Bill'})

             name        type   Bill
0  Foreign Cinema  Restaurant  289.0
1       Liho Liho  Restaurant  224.0
2        500 Club         bar   80.5
3      The Square         bar   25.3

#### **Method 2: change column names via .rename() using function mapper**

In [8]:
#  upper each of my column names

df.rename(columns=str.upper)

             NAME        TYPE  AVGBILL
0  Foreign Cinema  Restaurant    289.0
1       Liho Liho  Restaurant    224.0
2        500 Club         bar     80.5
3      The Square         bar     25.3

In [9]:
# remove the first letter from each of my column names

df.rename(columns=lambda x: x[1:])

              ame         ype  vgBill
0  Foreign Cinema  Restaurant   289.0
1       Liho Liho  Restaurant   224.0
2        500 Club         bar    80.5
3      The Square         bar    25.3

#### **Method 3: Pandas .columns attribute**

**pandas.DataFrame.columns = ['your', 'new', 'column', 'names']**

In [13]:
df.columns = ['Name', 'type', 'ABill']
df

             Name        type  ABill
0  Foreign Cinema  Restaurant  289.0
1       Liho Liho  Restaurant  224.0
2        500 Club         bar   80.5
3      The Square         bar   25.3

#### **Method 4 – Pandas .set_axis(axis=1)**

**pandas.DataFrame.set_axis(['your', 'new', 'column', 'names'2], axis=1)**

In [11]:
df.set_axis(["Name", "Type", "AvgBill"], axis=1)

             Name        Type  AvgBill
0  Foreign Cinema  Restaurant    289.0
1       Liho Liho  Restaurant    224.0
2        500 Club         bar     80.5
3      The Square         bar     25.3